body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    padding: 10px 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #b38aff;
}

#inicio {
    background-image: url('/src/assets/img/fondoHome.gif'); 
    background-size: cover;
    background-position: center;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

#inicio h1 {
    font-size: 2.5em;
    margin: 0;
}

#inicio h1 span {
    color: #b38aff;
}

#inicio .highlight {
    color: #b38aff;
}

.contact-icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.contact-icons img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 10px 20px;
    color: white;
}

#proyectos {
    padding: 50px 20px;
    background-color: #0d0d0d;
    color: white;
    text-align: center;
}

#proyectos h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#proyectos p {
    font-size: 1.2em;
    color: #b38aff;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.project .tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
}

.project .tech-list span {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.project .project-link {
    display: block;
    padding: 10px;
    background-color: #b38aff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
}

.project .project-link:hover {
    background-color: #9d63f6;
}

#sobre-mi {
    padding: 50px 20px;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

#sobre-mi h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#sobre-mi p {
    font-size: 1.7em;
    line-height: 1.5em;
}

#sobre-mi .highlight {
    color: #b38aff;
}

.skills-section {
    margin-top: 30px;
}

.skills-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-list img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #333;
    padding: 10px;
    transition: transform 0.3s;
}

.skill-list img:hover {
    transform: scale(1.1);
}

#certificados {
    padding: 50px 20px;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
}

#certificados h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#certificados .education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#certificados .education-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-image: url('/src/assets/img/tEdu.webp'); 
    background-size: cover;
    background-position: center;
    height: 300px;
}

#certificados .education-details {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 500px; /* Ajusta el tamaño según sea necesario */
}

#certificados .education-details h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #b38aff;
}

#certificados .education-details ul {
    list-style: none;
    padding: 0;
}

#certificados .education-details ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
    #certificados .education-container {
        flex-direction: row;
    }
    
    #certificados .education-image {
        max-width: 50%;
    }

    #certificados .education-details {
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    #inicio h1 {
        font-size: 2em;
    }

    #proyectos h2, #sobre-mi h2, #certificados h2 {
        font-size: 2em;
    }

    #sobre-mi p {
        font-size: 1.2em;
    }

    #certificados .education-details h3 {
        font-size: 1.5em;
    }

    #certificados .education-details ul li {
        font-size: 1em;
    }
}
